
<html>
    <header>
        <title>愷哥哥</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            var Chartkick = {"language": "zh"};
            
            $(document).ready(function() {
                
                // setInterval(function() {
                //     Chartkick.updateChart('line');  
                //     $('#line').html("")
                //     window.location.reload();
                //      },3000);
            });
            
        </script>
        <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
        
        <style>
            body{
                background-color:#eecccc;
                padding-left:10px;
                padding-right:10px;
            }
            .right{
                float:right;
            }
            
            .card{
                background-color:white;
                padding:5px;
                moz-border-radius: 2px;
  				-webkit-border-radius: 2px;
  				margin-top:3px;
  				margin-bottom:3px;
            }
            #records{
                margin-top:20px;
                
            }
            .record{
                background-color:#bb9966;
                 
                padding:5px;
                moz-border-radius: 2px;
  				-webkit-border-radius: 2px;
  				margin-top:3px;
  				margin-bottom:3px;
            }
            .item {
                margin-right:25px;
            }
            
        </style>
     
    </header>
    
    <body>
        <h4 class='card'>總抽獎數:  <%= @total_count %><span class="right">中獎次數:  <%= @bingo_count %></span></h4>
        
        <div>
            
            <%= line_chart @count_data,id:"line", xtitle: "日期", ytitle: "次數",discrete:true,height: "300px"%>
            <%= pie_chart @signature_data,id:"pie",height: "200px" %>
            
            
        </div>
       <div id='records'>
           <%= render @lottery_records%>
           
       </div>
       <div>
           <%= bar_chart @detail,height: "#{@detail.length * 50}px" %>
       </div>
       <div>
           <%= column_chart @user_count%>
       </div>
        
    </body>
    
</html>


